<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <!-- <p>Auto-resizing sidenav</p> 
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button> -->
    <mat-list>
      <div mat-header>Menu</div>
      <mat-list-item>
        <mat-icon>wb_sunny</mat-icon>Today 
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>assignment</mat-icon>Tarefas
      </mat-list-item>
      <mat-list-item>
        <mat-icon>grade</mat-icon>Important
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>

</mat-drawer-container>